@import url("https://fonts.googleapis.com/css?family=Poppins:600,400,700");

/* Colors */
:root {
  --box-fill: #0d091d;
  --text-fill: #ffffff;
  --blue-color: #1762A7;
  --dark-fill: #0F0329;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: fit-content;
  height: 1000px;
  margin: 0 auto;
  padding: 0 0;
  background-image: url(./images/background-2.png);
  background-size: 100% 100%;
}

/* Header Navigation */
.desktop-nav {
  height: 100px;
  justify-content: space-between;
  align-items: center;

  padding: 2px 30px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.desktop-nav .menu-items {
  align-items: center;
  display: flex;
  list-style: none;
  float: right;
}

.desktop-nav .menu-items li {
  margin: 25px 30px;
  float: right;
}

.desktop-nav .menu-items li h {
    text-decoration: none;
    color: var(--text-fill);
    font-size: 24px;
}